* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141519;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#rating-component {
  width: 20rem;
  height: 20rem;
  background-color: #1f2630;
  border-radius: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 2rem;
}

img {
  background-color: #24313c;
  padding: 0.5rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.rating-container * {
  background-color: #24313c;
}

.rating-container *:hover {
  cursor: pointer;
  background-color: #fc7613;
}

button {
  background-color: #fc7613;
  width: 100%;
  border: transparent;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

button:hover {
  cursor: pointer;
}